<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <style>
        body {
            margin:40px auto;
            max-width:750px;
            line-height:1.6;
            font-size:18px;
            color:#444;
            padding:0 10px
        }
        h1, h2, h3 {
            line-height:1.2
        }
    </style>
</head>
<body>
    <h1>Prompt</h1>
    <p>{{prompt}}</p>
    <hr>
    {% for path, img_link, qa_list in data %}
    <div>
        <h2>{{path}}</h2>

        <img src="{{img_link}}" style="width: 600px">

        <table border="1">
            {% for question, answer in qa_list %}
            <tr>
                <td>{{question}}</td>
                <td>{{answer}}</td>
            </tr>
            {% endfor %}
        </table>
        <hr>
    </div>
    {% endfor %}
</body>
</html>